.black{
	height: 100%;
	background-color: black;

}

.black2{
	height: 150px;
	background-color: black;
}

.white{
	height: 100%;
	background-color: white;
}

.nav {
    position: fixed;
    top: 50%;
    left: 13%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);    
}

.header-text{
	font-family: 'Qwigley', cursive;
	font-size: 3.5em;
    color: white;
    border-bottom: 2px white solid;
    text-align: center;
    margin: auto;
}

.header-text2{
	font-family: 'Qwigley', cursive;
	font-size: 3.5em;
    color: white;
    margin: auto;
}

.sub-header-text{
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.top-bar {
    background-color: black;
}
